html{
    background-image: url("../img/background.jpg");
     background-color: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body {
    background-color: floralwhite;
    opacity: 0.8;
    min-width: 500px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}
#midtstilt {
    text-align: center;
    border-bottom: 1px solid black;
}
header#midtstilt>ul {
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: Verdana;
}
table{
    width:100%;
}
table,tr,th,td{
    border:1px solid black;
}
th{
    padding: 5px;
}

