html{
    background-color: orange;
}
body {
    background-color: beige;
    min-width: 500px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}
#midtstilt {
    text-align: center;
    border-bottom: 1px solid black;
}
header>div>ul {
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
    font-family:helvetica;
}