/*Css for calendar*/
#eventWrapper {
    display:block;
}
.dateEvent {
    display: inline-block;
}
.titleEvent {
    display: inline-block;
    cursor:pointer;
}
.event {
    border-bottom: 1px solid gray;
}
.descEvent {

}
.dateSameMonth {
    background-color: forestgreen;
}
.dateNotSameMonth {
    background-color: lightgreen;
}
#calElmt table {
    background-color: rgb(169,209,142);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
#calElmt table td {
    position: relative;
    border-radius: 2px;
    text-align: left;
    vertical-align: top;
}

table#smallfalse{
    width:400px;
}
#smallfalse th, #smallfalse td {
    width: 50px;
    height:50px;
}
#smalltrue th, #smalltrue td {
    width: 30px;
    height:30px;
    font-size: small;
}
#smalltrue td span {
    width:100%;
    top:9px;
    left:0;
    vertical-align: middle;
    text-align: center;
}
#smallfalse .calCircl {
    width:50px;
    height:50px;
}
#smalltrue .calCircl {
    width:30px;
    height: 30px;
}
.calCircl {
    position: absolute;
    bottom:0;
    right:0;
    z-index: 1;
    opacity: 0.7;
}