/*Css for calendar*/
#eventWrapper {
    display:block;
}
.dateEvent {
    display: inline-block;
}
.titleEvent {
    display: inline-block;
    cursor:pointer;
}
.event {
    border-bottom: 1px solid gray;
}
.descEvent {

}
.dateSameMonth {
    background-color: forestgreen;
}
.dateNotSameMonth {
    background-color: lightgreen;
}
#calElmt table {
    background-color: rgb(169,209,142);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
#calElmt table td {
    text-align: left;
    vertical-align: top;
    position: relative;
    border-radius: 2px;
}
table#smalltrue th,td {
    width:10px;
}
table#smallfalse{
    width:400px;
}
#smallfalse th,td {
    width: 50px;
    height:50px;
}
#smallfalse canvas {
    width:50px;
    height:50px;
}
#smalltrue canvas {
    width:10px;
    height: 10px;
}
#calElmt canvas {
    position: absolute;
    z-index: 1;
}