/*General styling*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.58);
    color: rgb(59, 56, 56);
    font-size: 18px;
    position: absolute;
}

#wrapper{
    width:700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-height: calc(100% - 146px - 63px);
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4, h5, h6 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p {
    color: rgb(59, 56, 56);
}

/*Styling Slideshow*/
.fadein {
    position:relative;
    height:400px;
    width:100%;
}

.fadein img {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 1s;
    opacity: 1;
    height: 100%;
    width:100%;
}

.fadein img.is-hidden {
    opacity: 0;
}

#slideshow{
    margin-bottom: 20px;
}

/*Styling submission*/
form {
    width : 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 5%;
    background-color: rgba(169, 209, 142, 0.58);
    border-style: solid;
    border-width: 2px;
}

input, select {
    width: 25%;
}

textarea {
    width: 75%;
    resize: none;
}

input[type=submit] {
    background-color: rgba(164, 52, 26, 0.8);
}

/*About page*/
.mainParagraf::first-letter{
    font-size: 200%;
}
.subParagraf{
    text-indent: 20px;
}

/*Blog*/
#wrapper #overskrift {
    /*position: relative;*/
    text-align: center;
}

#wrapper #overskrift h2 {
    /*margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);*/
    font-size: 45px;
}

#blogtable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: white;
    border-collapse:separate;
    border-spacing:0 10px;
}

#blogtable, #blogtable .school, #blogtable .principal, #blogtable .news, #blogtable .date{
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    height: 130px;


}
#blogtable .school{
    width: 20%;
    margin: 10px;
    background-image: url('../img/icon.png');
    background-size: contain ;
    background-repeat: no-repeat;

}


#blogtable .principal{
    width: 20%;
    margin: 10px;
    background-image: url('../img/Person1.png');
    background-size: contain ;
    background-position: center;
    background-repeat: no-repeat;
}



#blogtable .news {
    padding-left: 60px;
    width: 70%;
}

#blogtable .news h2{
     font-size:24x;
     font-weight: normal;
}

#blogtable .date{
    position: relative;
    vertical-align: top;
    right: 20px;
    color: grey;
    font-style: italic;

}
/*Front page blog*/
.blognews {
    position: relative;
    width: 50%;
    margin-left: 35px;
    margin-top: 100Px;
    margin-bottom: 10px;
}

.blognews h2{
    padding-top: 15px;
    padding-left: 12px;
    margin: auto;
    font-size: 18px;
}
.blognews .pic img {
    position: absolute;
    display: block;
    margin-left: 130px;
    margin-top: -75px;
    width: 25%;
}

.blognews .news {
    border: 1px;
    border-radius: 25px;
    height: 150px;
    background-color: rgb(169, 209, 142);
    width: 100%;
}

.blognews p {
    padding-left: 12px;
    font-size: 16px;
    height: auto;
}
/*Blog alternative*/
#blogDiv{
    margin-bottom: 5px;
}
.blogArticle {
    position: relative;
    border-bottom: 1px solid grey;
    min-height: 100px;
    margin-top:10px;
}
#blogDiv .school:before {
    content:' ';
    background-image: url("../img/icon.png");
}
#blogDiv .headmaster:before {
    content:' ';
    background-image: url("../img/Person1.png");
}
#blogDiv .headmaster:before, #blogDiv .school:before {
    content:' ';
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top:0;
    left:10px;
    width: 80px;
    height: 80px;
}
.blogArticle .blogArticleTitle {
    text-align: center;
    min-height: 70px;
    position: relative;
    cursor: pointer;
}
.blogArticleDate {
    position: absolute;
    top:5px;
    right:0;
}
.blogArticleBody {
    padding-left: 19px;
    border-left: 1px solid rgb(169,209,142);
    margin-left: 50px;
}
.blogArticleDate p {
    color: grey;
    font-style: italic;
}
.blogArticleTitle h3 {
    font-size:24px;
    font-weight: normal;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}